  @font-face {
    font-family: police1;
    src: url("./fonts/Combinedd.otf");
  }

  body {
    background-color: white;
    margin: 0;
  }

  /* RESET */
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* PARAMÈTRE DE BASE DE BOUTTON */
  .button {
    margin: 0;
    width: auto;
    padding: 0.8rem;
    background-color: white;
  }


  /* ENTÊTE */
  header {
    z-index: 10000;
    font-family: 'police1';
    position: fixed;
    background: linear-gradient(315deg, rgba(77, 168, 112, 1) 0%, rgba(193, 4, 252, 1) 66%);
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    height: auto;
    width: 100%;
    text-decoration: none;
    outline: none;
    font-size: 2rem;
  }

  header a {
    text-decoration: none;
    color: white;
    outline: none;
  }

  header a:hover {
    color: rgba(77, 168, 112, 1);

  }

  /* MENU */

  .menu {
    position: inherit;
    width: 100vw;
    left: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 1) 25%);
  }

  .menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
  }

  header .button {
    background-color: none;
    color: rgb(193, 4, 252);
    border: 1px solid rgb(193, 4, 252);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 16px;
  }

  header input {
    font-family: police1;
  }

  header .button:hover {
    background-color: rgb(193, 4, 252);
    color: white;
  }

  /* FORMULAIRE */

  form label {
    font-family: police1;
    font-size: 1rem;
  }

  form input,
  select {
    position: relative;
    border-color: #c104fc;
    border-radius: 5px;
    border-style: solid;
    margin: 1rem;
    padding: 0.5rem;
    width: auto;
    overflow: visible;
    outline: none;
    background-color: white;
  }

  form input:focus,
  select:focus {
    border: 3px solid rgba(77, 168, 112, 1);
  }

  #enter input {
    font-family: police1;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.2rem;
    border-radius: 16px;
    background-color: none;
    color: rgb(193, 4, 252);
    border: 1px solid rgb(193, 4, 252);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  #enter input:hover {
    background-color: rgb(193, 4, 252);
    color: white;
  }

  form .boutton {
    position: inherit;
    margin: 0;
  }

  /* CONTENUS DE LA PAGE */
  #page_content {
    position: relative;
    /* display: inline;
    float: none; */
    top: 15vh;
    max-width: 80ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }

  #page_content .memoire {
    margin: 0 auto;
  }

  input:active {
    border-color: rgba(77, 168, 112, 1);

  }


  /* GRILLE HOMEPAGE */

  .grid-section {
    top: 15vh;
    position: relative;
    display: grid;
    /* grid-auto-rows: minmax(100px, auto); */
  }

  /* MOSAIC MEMOIRE */

  .grid1 {
    position: relative;
    grid-column: 1 / 6;
    width: 100%;
    margin: none;
    padding: 1rem;
    left: 0;
    /* margin-right: 20vw; */
  }

  #mosaic ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    /* default value; can be omitted */
  }

  #mosaic li {
    /* display: flex; */
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 23%;
    /* position: relative; */
    overflow: hidden;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 16px;
    box-shadow: 2px 4px 8px 2px rgba(218, 109, 109, 0.2), 0 6px 20px 0 rgba(216, 24, 24, 0.19);
    
    /* FAIRE UNE GRID POUR QUE LES BOX AIELLENT TOUTES LA MÊME HAUTEUR */
    
    /* height: 65vh; */
  }

  #mosaic li:hover {
    color: #c104fc;
    border-color: #c104fc;
    border-style: solid;
    border-radius: 16px;
  }

  #mosaic img {
    max-width: 100%;
    border-radius: 16px;
  }

  #mosaic a {
    text-decoration: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: inherit;
    width: auto;
  }

  #mosaic span {
    display: block;
    margin: 1rem;
  }


  /* LISTE ANNÉE, tag, etc */

  .grid2 {
    position: relative;
    display: flex;
    grid-column: 6/ 6;
    right: 0;
    padding: 2rem;
    font-size: 0.8rem;
    /* overflow: auto; */
    justify-items: left;
    height: 100vh;

  }

  .list ul {
    margin: 1rem;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .list li {
    /* -webkit-flex-direction: row;
    flex-direction: row;
    align-self: flex-start;
    float: right; */
    /* display: block; */
    width: fit-content;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1rem;
  }

  .list a {
    padding: 0.4rem;
    background-color: #c104fc;
    color: white;
    border-radius: 12px;
    margin: 1rem;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .list a:hover {
    color: rgba(77, 168, 112, 1);
  }

  .list hr {
    color: #c104fc;
    width: 50%;
  }

  /* ITEM PAGE  */

  .cover {
    position: relative;
    width: 100%;
  }

  embed {
    display: inherit;
    width: 800px;
    height: 700px;
    /* max-height: 800px ;  */
    position: relative;
    margin: 0 auto;
    /* margin-left: 10%; */
    padding: 0.2rem;
    border-color: #c104fc;
    border-style: solid;
    border-radius: 16px;
  }

  .memoire img {
    max-width: 40%;
    margin: 0.5rem;
  }